# Игнорировать папку .idea
.idea/

# Игнорировать временные файлы и папки, созданные редакторами
*.swp
*.swo
*~
.vscode/

# Игнорировать файлы, сгенерированные системой
*.log
*.tmp
*.lock

# Игнорировать скомпилированные бинарные файлы
*.exe
*.dll
*.so
*.out
*.o
*.a

# Игнорировать файлы конфигурации ОС
.DS_Store
Thumbs.db

# Игнорировать зависимые библиотеки
vendor/

# Игнорировать окружение виртуальных машин
.vagrant/
node_modules/

# Игнорировать локальные файлы конфигурации (например, Go environment)
.env